<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>Inicio</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <div class="container" id="app">
            <div class="cover">
                <div class="front">
                    <img src="img/fondo-millonario.jpeg" alt="">
                    <div class="text">
                        <span class="text-1">Colibri Kids Trivia</span>
                        <span class="text-2">CKT Game</span>
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="form-content">
                    <div class="login-form">
                    <div class="title">Nuevo juego</div>
                        <form @submit.prevent="enviar">
                            <div class="input-boxes">
                                <div class="input-box">
                                    <i class="fas fa-user"></i>
                                    <input type="text" placeholder="Ingresa tu nombre" v-model="usuario" required>
                                </div>
                                <div class="button input-box">
                                    <input type="submit" value="Comenzar">
                                </div>
                                <!-- <div class="text sign-up-text">Don't have an account? <label>Sigup now</label></div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
    <script>
        const socket = io();
        new Vue({
            el: '#app',
            data: {
                usuario: '',
            },
            methods:{
                enviar(){
                    axios.post('play', {usuario: this.usuario}).then((response)=>{
                        localStorage.finalizado = response.data.finalizado;
                        localStorage.nivel_maximo = response.data.nivel_maximo;
                        localStorage.nivel_seguro = response.data.nivel_maximo;
                        localStorage.nivel_actual = response.data.nivel_actual;
                        localStorage.tiempo = response.data.tiempo;
                        localStorage.usuario = response.data.usuario;
                        localStorage._id = response.data._id;

                        window.location.href = 'play';
                    }).catch((error)=>{
                        console.error(error);
                    });
                }
            },
            created: function(){
                localStorage.clear();
            }
        });
    </script>
</html>
