<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
        <title>Inicio</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <audio src="/audio/kbc_intro_audio.mp3" type="audio/mp3" id="kbc-intro-music" autoplay ></audio>

        
        <div id="logo">
            <!-- <h3>Quien quiere ser millonario</h3> -->
        </div>


        <div id="button"> <button>Jugar</button> </div>

        <div id="logo-img-shadow"></div>
        <img id="logo-img" src="/img/logo.png" alt="" />

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
